<!DOCTYPE html>
<html>
<head>
    <title>GPA calculator</title>
</head>
<body>

<div>
    <D1> GPA Calculator</D1>
</div>


<form name="class1" method="post" action="/gpa">
    <lable>Class 1
    <br />
    <select name="grade1">
        <option select="selected" value=0>-select grade-</option>
        <option value=4>A</option>
        <option value=3.666>A-</option>
        <option value=3.333>B+</option>
        <option value=3>B</option>
        <option value=2.666>B-</option>
        <option value=2.333>C+</option>
        <option value=2>C</option>
        <option value=1.666>C-</option>
        <option value=1.333>D+</option>
        <option value=1>D</option>
        <option value=.666>D-</option>
        <option value=0>F</option>
    </select>


    <br />

    <select name="credit1">
        <option select="selected" value=0>-select credit-</option>
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option>
        <option value=5>5</option>
    </select>
    </lable>

</form>

<br />

<form name="class2" method="post" action="/gpa">
    <lable>Class 2
    <br />
    <select name="grade2">
        <option select="selected" value=0>-select grade-</option>
        <option value=4>A</option>
        <option value=3.666>A-</option>
        <option value=3.333>B+</option>
        <option value=3>B</option>
        <option value=2.666>B-</option>
        <option value=2.333>C+</option>
        <option value=2>C</option>
        <option value=1.666>C-</option>
        <option value=1.333>D+</option>
        <option value=1>D</option>
        <option value=.666>D-</option>
        <option value=0>F</option>
    </select>

    <br />

    <select name="credit2">
        <option select="selected" value=0>-select credit-</option>
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option>
        <option value=5>5</option>
    </select>
    </lable>

</form>


<br />

<form name="class3" method="post" action="/gpa">
    <lable>Class 3
        <br />
        <select name="grade3">
            <option select="selected" value=0>-select grade-</option>
            <option value=4>A</option>
            <option value=3.666>A-</option>
            <option value=3.333>B+</option>
            <option value=3>B</option>
            <option value=2.666>B-</option>
            <option value=2.333>C+</option>
            <option value=2>C</option>
            <option value=1.666>C-</option>
            <option value=1.333>D+</option>
            <option value=1>D</option>
            <option value=.666>D-</option>
            <option value=0>F</option>
        </select>

        <br />

        <select name="credit3">
            <option select="selected" value=0>-select credit-</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
        </select>
    </lable>

</form>


<br />

<form name="class4" method="post" action="/gpa">
    <lable>Class 4
        <br />
        <select name="grade4">
            <option select="selected" value=0>-select grade-</option>
            <option value=4>A</option>
            <option value=3.666>A-</option>
            <option value=3.333>B+</option>
            <option value=3>B</option>
            <option value=2.666>B-</option>
            <option value=2.333>C+</option>
            <option value=2>C</option>
            <option value=1.666>C-</option>
            <option value=1.333>D+</option>
            <option value=1>D</option>
            <option value=.666>D-</option>
            <option value=0>F</option>
        </select>

        <br />

        <select name="credit4">
            <option select="selected" value=0>-select credit-</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
        </select>
    </lable>

</form>

<br />
<form method="post" action="/gpa">
<input type="submit" id="submit" value="submit">
</form>

</body>
</html>